<div class="row">
  <div class="col-md-11">
    <% if !@data.blank? %>
       <pre><%= JSON.pretty_generate(@data) %></pre>
    <% end %>
  </div>

  <div class="col-md-1">
    <%= link_to 'Cancel', root_path, class: 'btn btn-danger pull-right' %><br>
  </div>
</div>
